name: Artifacts (Package)
on: [push, pull_request, workflow_dispatch]

jobs:
  artifacts-mingw-w64:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Build Fixes
      run: |
        mkdir -p ./src/dxvk && echo '#define DXVK_VERSION "1.11.0"' > ./src/dxvk/dxvk_version.h
        chmod +x package-release.sh

    - name: Build release
      uses: Joshua-Ashton/arch-mingw-github-action@v8
      with:
        command: |
          ./package-release.sh master build --no-package

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: dxvk-mali-build
        path: build/dxvk-master
        if-no-files-found: error
