name: Mali-G85-Build
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y meson mingw-w64 g++-mingw-w64-x86-64 glslang-tools

      - name: Build
        run: |
          # We use --wrap-mode=nodownload to force it to use internal headers
          # And we point it to the cross-file which handles the paths
          meson setup build.mali \
            --cross-file build-win64.txt \
            --buildtype release \
            --prefix /tmp/out \
            -Dstrip=true \
            -Dtests=false
          
          ninja -C build.mali install

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: dxvk-mali-dlls
          path: /tmp/out/bin/*.dll
