    - name: Compiler (LLVM-Clang + Header Inject)
      uses: Joshua-Ashton/arch-mingw-github-action@v8
      with:
        command: |
          # 1. Install Toolchain & Git
          sudo pacman -S --noconfirm mingw-w64-gcc clang lld git

          # 2. Download the missing Vulkan and SPIRV headers
          # We clone them into a temporary folder 'deps'
          git clone --depth 1 https://github.com/KhronosGroup/Vulkan-Headers.git v_headers
          git clone --depth 1 https://github.com/KhronosGroup/SPIRV-Headers.git s_headers
          
          # 3. Create the missing include structure
          mkdir -p include/vulkan
          mkdir -p include/spirv
          cp -r v_headers/include/vulkan/* include/vulkan/
          cp -r s_headers/include/spirv/* include/spirv/

          # 4. COMPREHENSIVE MALI PATCH (All variables)
          cat <<EOF > mali_patch.txt
          wrc_generator = generator(find_program('x86_64-w64-mingw32-windres'), output: '@BASENAME@.res', arguments: [ '@INPUT@', '@OUTPUT@' ])
          dll_ext = '.dll'
          def_spec_ext = '.def'
          lib_dxgi = declare_dependency(link_args: ['-ldxgi'])
          lib_d3d9 = declare_dependency(link_args: ['-ld3d9'])
          lib_d3d10 = declare_dependency(link_args: ['-ld3d10'])
          lib_d3d10core = declare_dependency(link_args: ['-ld3d10core'])
          lib_d3d11 = declare_dependency(link_args: ['-ld3d11'])
          EOF
          sed -i '1r mali_patch.txt' meson.build
          
          # 5. Build with the LLVM compiler pointing to our new headers
          # We use -I$(pwd)/include to tell Clang exactly where we put the files
          export CC="clang --target=x86_64-w64-mingw32 -I$(pwd)/include"
          export CXX="clang++ --target=x86_64-w64-mingw32 -I$(pwd)/include"
          export LDFLAGS="-fuse-ld=lld"

          # 6. Execute Build
          mkdir -p ./src/dxvk && echo '#define DXVK_VERSION "Mali-LLVM-Pro"' > ./src/dxvk/dxvk_version.h
          chmod +x package-release.sh
          ./package-release.sh master build --no-package
